
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {{ $currentPage := . }}
        <li class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>
        {{ range .Site.Menus.main }}
          
        <li class="nav-item">
          <a class="nav-link" href="{{ .URL }}" title="{{ .Name }}">
            {{ .Name }}
          </a>
        </li>
          
        {{ end }}
      </ul>
      
    </div>
  </nav>
